modules = ["nodejs-20", "web", "python-3.11", "postgresql-16"]
[agent]
expertMode = true
integrations = ["stripe:2.0.0", "javascript_log_in_with_replit:2.0.0", "resend:1.0.0", "javascript_gemini_ai_integrations:2.0.0"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Frontend"

[[workflows.workflow]]
name = "Frontend"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx tsx server.ts"
waitForPort = 5000

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 24678
externalPort = 3000

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
publicDir = "dist"
run = ["node", "--import", "tsx", "server-prod.ts"]

[userenv]

[userenv.shared]
VITE_STRIPE_PRICE_ID = "price_1SrNlsGYVLYYk9PSOVFGCBOG"
VITE_STRIPE_PUBLISHABLE_KEY = "pk_live_51PvlQOGeCLOK5swhY06RcmLqOHWbGGrZwwhvn2an6Fe4NvMKpfV2epfAuLV9jsBVKGuXWp5LeG2x7AAMUkUUWmes00phftPWlu"
